<!-- <IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>
 -->
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    RewriteRule . index.php [L]
</IfModule>